html,
body {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  width: -moz-available;
  height: available;
  margin: 0;
  padding: 0;
  font: 14px DejaVu Sans Mono, Helvetica Neue, Helvetica, Arial, sans-serif !important;
  letter-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100% !important;
  -moz-box-sizing: border-box;
  -ms-touch-action: manipulation;
  box-sizing: border-box;
  touch-action: manipulation;
}
.flex {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flex0 {
  flex: 0;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.flex4 {
  flex: 4;
}
.flex5 {
  flex: 5;
}
.flex6 {
  flex: 6;
}
.flex7 {
  flex: 7;
}
.flex8 {
  flex: 8;
}
.flex9 {
  flex: 9;
}
.flex10 {
  flex: 10;
}
.fill {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  width: -moz-available;
  height: available;
}
.fillW {
  width: -webkit-fill-available;
  width: -moz-available;
}
.fillH {
  height: -webkit-fill-available;
  height: available;
}
a,
.href {
  text-decoration: none;
  cursor: pointer;
  color: #01AAED;
}
a:active,
.href:active,
a:hover,
.href:hover {
  color: #ed7a1e;
  outline: 0;
  text-decoration: none;
}
a:focus,
.href:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.unselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}
p {
  margin: 0;
}
img {
  border: 0;
  display: block;
  vertical-align: middle;
}
hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
}
pre {
  overflow: auto;
}
input,
button,
select,
textarea {
  font-size: inherit;
  line-height: inherit;
}
ul,
ol,
li,
dd,
dt {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt,
dd {
  line-height: 1.5rem;
}
i,
u,
em {
  font-style: normal;
  text-decoration: none;
}
input.en {
  ime-mode: disabled;
}
.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
/*元素模糊*/
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.blur1 {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.shadow {
  box-shadow: 2px 2px 2px #ccc;
}
.p1em {
  padding: 1em;
}
.m1em {
  margin: 1em;
}
.radius {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.radiusLT {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
.radiusRT {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
.radiusRB {
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
.radiusLB {
  -moz-border-radius: 0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
.radiusL {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.radiusR {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.radiusT {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.radiusB {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
h1,
.h1 {
  font-size: 32px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
h2,
.h2 {
  font-size: 28px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
h3,
.h3 {
  font-size: 24px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
h4,
.h4 {
  font-size: 20px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
h5,
.h5 {
  font-size: 16px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
h6,
.h6 {
  font-size: 12px !important;
  padding: 0.5em 0;
  font-weight: 700;
  line-height: 1.1em;
  color: inherit;
  margin: 0;
}
.fs10 {
  font-size: 10px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs22 {
  font-size: 22px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs26 {
  font-size: 26px !important;
}
.fs28 {
  font-size: 28px !important;
}
.fs30 {
  font-size: 30px !important;
}
.fs32 {
  font-size: 32px !important;
}
.fs34 {
  font-size: 34px !important;
}
.fs36 {
  font-size: 36px !important;
}
.fs38 {
  font-size: 38px !important;
}
.fs40 {
  font-size: 40px !important;
}
.fs42 {
  font-size: 42px !important;
}
.fs44 {
  font-size: 44px !important;
}
.fs46 {
  font-size: 46px !important;
}
.fs48 {
  font-size: 48px !important;
}
.fs50 {
  font-size: 50px !important;
}
.mt0 {
  margin-top: 0px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml0 {
  margin-left: 0px;
}
.mr0 {
  margin-right: 0px;
}
.MT0 {
  margin-top: 0px !important;
}
.MB0 {
  margin-bottom: 0px !important;
}
.ML0 {
  margin-left: 0px !important;
}
.MR0 {
  margin-right: 0px !important;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.MT5 {
  margin-top: 5px !important;
}
.MB5 {
  margin-bottom: 5px !important;
}
.ML5 {
  margin-left: 5px !important;
}
.MR5 {
  margin-right: 5px !important;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.MT10 {
  margin-top: 10px !important;
}
.MB10 {
  margin-bottom: 10px !important;
}
.ML10 {
  margin-left: 10px !important;
}
.MR10 {
  margin-right: 10px !important;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.MT15 {
  margin-top: 15px !important;
}
.MB15 {
  margin-bottom: 15px !important;
}
.ML15 {
  margin-left: 15px !important;
}
.MR15 {
  margin-right: 15px !important;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.MT20 {
  margin-top: 20px !important;
}
.MB20 {
  margin-bottom: 20px !important;
}
.ML20 {
  margin-left: 20px !important;
}
.MR20 {
  margin-right: 20px !important;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.mr25 {
  margin-right: 25px;
}
.MT25 {
  margin-top: 25px !important;
}
.MB25 {
  margin-bottom: 25px !important;
}
.ML25 {
  margin-left: 25px !important;
}
.MR25 {
  margin-right: 25px !important;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.MT30 {
  margin-top: 30px !important;
}
.MB30 {
  margin-bottom: 30px !important;
}
.ML30 {
  margin-left: 30px !important;
}
.MR30 {
  margin-right: 30px !important;
}
.mt35 {
  margin-top: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.ml35 {
  margin-left: 35px;
}
.mr35 {
  margin-right: 35px;
}
.MT35 {
  margin-top: 35px !important;
}
.MB35 {
  margin-bottom: 35px !important;
}
.ML35 {
  margin-left: 35px !important;
}
.MR35 {
  margin-right: 35px !important;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.MT40 {
  margin-top: 40px !important;
}
.MB40 {
  margin-bottom: 40px !important;
}
.ML40 {
  margin-left: 40px !important;
}
.MR40 {
  margin-right: 40px !important;
}
.mt45 {
  margin-top: 45px;
}
.mb45 {
  margin-bottom: 45px;
}
.ml45 {
  margin-left: 45px;
}
.mr45 {
  margin-right: 45px;
}
.MT45 {
  margin-top: 45px !important;
}
.MB45 {
  margin-bottom: 45px !important;
}
.ML45 {
  margin-left: 45px !important;
}
.MR45 {
  margin-right: 45px !important;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.mr50 {
  margin-right: 50px;
}
.MT50 {
  margin-top: 50px !important;
}
.MB50 {
  margin-bottom: 50px !important;
}
.ML50 {
  margin-left: 50px !important;
}
.MR50 {
  margin-right: 50px !important;
}
/************************************************/
.weixin {
  color: #2bad13;
}
.alipay {
  color: #00a0e9;
}
.qq {
  color: #e81f1f;
}
.weibo {
  color: #e6162d;
}
.maroon {
  color: #800000;
}
.darkred {
  color: #8B0000;
}
.brown {
  color: #A52A2A;
}
.firebrick {
  color: #B22222;
}
.crimson {
  color: #DC143C;
}
.red {
  color: #FF0000;
}
.redd {
  color: #dd0000;
}
.redc {
  color: #cc0000;
}
.reda {
  color: #aa0000;
}
.mediumvioletred {
  color: #C71585;
}
.palevioletred {
  color: #D87093;
}
.deeppink {
  color: #FF1493;
}
.fuchsia {
  color: #FF00FF;
}
.hotpink {
  color: #FF69B4;
}
.pink {
  color: #FFC0CB;
}
.lightpink {
  color: #FFB6C1;
}
.mistyrose {
  color: #FFE4E1;
}
.lavenderblush {
  color: #FFF0F5;
}
.indigo {
  color: #4B0082;
}
.purple {
  color: #800080;
}
.darkmagenta {
  color: #8B008B;
}
.darkorchid {
  color: #9932CC;
}
.blueviolet {
  color: #8A2BE2;
}
.darkviolet {
  color: #9400D3;
}
.slateblue {
  color: #6A5ACD;
}
.mediumpurple {
  color: #9370DB;
}
.mediumslateblue {
  color: #7B68EE;
}
.mediumorchid {
  color: #BA55D3;
}
.violet {
  color: #EE82EE;
}
.plum {
  color: #DDA0DD;
}
.thistle {
  color: #D8BFD8;
}
.lavender {
  color: #E6E6FA;
}
.saddlebrown {
  color: #8B4513;
}
.sienna {
  color: #A0522D;
}
.chocolate {
  color: #D2691E;
}
.indianred {
  color: #CD5C5C;
}
.rosybrown {
  color: #BC8F8F;
}
.lightcorol {
  color: #F08080;
}
.salmon {
  color: #FA8072;
}
.lightsalmon {
  color: #FFA07A;
}
.orangered {
  color: #FF4500;
}
.tomato {
  color: #FF6347;
}
.coral {
  color: #FF7F50;
}
.darkorange {
  color: #FF8C00;
}
.sandybrown {
  color: #F4A460;
}
.peru {
  color: #CD853F;
}
.tan {
  color: #D2B48C;
}
.burlywood {
  color: #DEB887;
}
.wheat {
  color: #F5DEB3;
}
.moccasin {
  color: #FFE4B5;
}
.navajowhite {
  color: #FFDEAD;
}
.peachpuff {
  color: #FFDAB9;
}
.bisque {
  color: #FFE4C4;
}
.antuquewhite {
  color: #FAEBD7;
}
.papayawhip {
  color: #FFEFD5;
}
.cornsilk {
  color: #FFF8DC;
}
.oldlace {
  color: #FDF5E6;
}
.linen {
  color: #FAF0E6;
}
.seashell {
  color: #FFF5EE;
}
.snow {
  color: #FFFAFA;
}
.floralwhite {
  color: #FFFAF0;
}
.ivory {
  color: #FFFFF0;
}
.mintcream {
  color: #F5FFFA;
}
.darkgoldenrod {
  color: #B8860B;
}
.goldenrod {
  color: #DAA520;
}
.gold {
  color: #FFD700;
}
.yellow {
  color: #FFFF00;
}
.darkkhaki {
  color: #BDB76B;
}
.khaki {
  color: #F0E68C;
}
.palegoldenrod {
  color: #EEE8AA;
}
.beige {
  color: #F5F5DC;
}
.lemonchiffon {
  color: #FFFACD;
}
.lightgoldenrodyellow {
  color: #FAFAD2;
}
.lightyellow {
  color: #FFFFE0;
}
.darkslategray {
  color: #2F4F4F;
}
.darkolivegreen {
  color: #556B2F;
}
.olive {
  color: #808000;
}
.green {
  color: #006600;
}
.darkgreen {
  color: #006400;
}
.forestgreen {
  color: #228B22;
}
.seagreen {
  color: #2E8B57;
}
.green1 {
  color: #008080;
}
.lightseagreen {
  color: #20B2AA;
}
.madiumaquamarine {
  color: #66CDAA;
}
.mediumseagreen {
  color: #3CB371;
}
.darkseagreen {
  color: #8FBC8F;
}
.yellowgreen {
  color: #9ACD32;
}
.limegreen {
  color: #32CD32;
}
.lime {
  color: #00FF00;
}
.chartreuse {
  color: #7FFF00;
}
.lawngreen {
  color: #7CFC00;
}
.greenyellow {
  color: #ADFF2F;
}
.mediumspringgreen {
  color: #00FA9A;
}
.springgreen {
  color: #00FF7F;
}
.lightgreen {
  color: #90EE90;
}
.palegreen {
  color: #98F898;
}
.aquamarine {
  color: #7FFFD4;
}
.honeydew {
  color: #F0FFF0;
}
.midnightblue {
  color: #191970;
}
.navy {
  color: #000080;
}
.darkblue {
  color: #00008B;
}
.darkslateblue {
  color: #483D8B;
}
.mediumblue {
  color: #0000CD;
}
.royalblue {
  color: #4169E1;
}
.dodgerblue {
  color: #1E90FF;
}
.cornflowerblue {
  color: #6495ED;
}
.blue {
  color: #409EFF;
}
.deepskyblue {
  color: #00BFFF;
}
.lightskyblue {
  color: #87CEFA;
}
.lightsteelblue {
  color: #B0C4DE;
}
.lightblue {
  color: #ADD8E6;
}
.steelblue {
  color: #4682B4;
}
.darkcyan {
  color: #008B8B;
}
.cadetblue {
  color: #5F9EA0;
}
.darkturquoise {
  color: #00CED1;
}
.mediumturquoise {
  color: #48D1CC;
}
.turquoise {
  color: #40E0D0;
}
.skyblue {
  color: #87CECB;
}
.powderblue {
  color: #B0E0E6;
}
.paleturquoise {
  color: #AFEEEE;
}
.lightcyan {
  color: #E0FFFF;
}
.azure {
  color: #F0FFFF;
}
.aliceblue {
  color: #F0F8FF;
}
.aqua {
  color: #00FFFF;
}
.black {
  color: #000000;
}
.dimgray {
  color: #696969;
}
.gray {
  color: #808080;
}
.slategray {
  color: #708090;
}
.lightslategray {
  color: #778899;
}
.dakgray {
  color: #A9A9A9;
}
.silver {
  color: #C0C0C0;
}
.lightgray {
  color: #D3D3D3;
}
.gainsboro {
  color: #DCDCDC;
}
.whitesmoke {
  color: #F5F5F5;
}
.ghostwhite {
  color: #F8F8FF;
}
.white {
  color: #FFFFFF;
}
/*# sourceMappingURL=auto.css.map */