
.db-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
    background: #fff;
    box-shadow: 0 0 35px #d2d2d2;
    padding: 2em;
}

.dbMenu {
    overflow-y: auto;
    
    ul {
        .em() {
            margin-right: 5px;
            font-size: 16px;
        }
        .indent() {
            padding-left: 30px;
        }
        
        .a() {
            background: #ffffff;
            color: #333333;
        }
        .link() {
            color: #eee;
            cursor: pointer;
            display: flex;
            //padding-left: 30px;
            &.active {
                .a();
                
                a {
                    .a();
                    .indent();
                }
            }
            &:hover {
                color: #ed7a1e;
            }
            a {
                color: #eee;
                flex: 1;
                .indent();
                
                em {
                    .em();
                }
            }
            a:hover {
                color: #ed7a1e;
            }
            em {
                .em();
            }
        }
        
        dl {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        
        li, dt {
            height: 36px;
            line-height: 36px;
            
            em {
                .em();
            }
        }
        
        .dm-head {
            .link();
            
            span {
                flex: 1;
            }
        }
        
        .dm-group-title {
            color: #eee;
            background: #474B5F;
            padding-left: 15px;
            
            &:hover {
                background: #52576e;
            }
        }
        
        .dm-group-body {
            height: fit-content;
            
            dl {
                dt {
                    .link();
                }
            }
        }
        
    }
}

.dbForm {
    width: 100%;
    padding: 5px;
    background: #f3f3f3;
}

.dbArea {
    flex: 1;
    display: flex;
    height: 38px;
    
    select {
        flex: 1;
        border: 1px solid #D2D2D2;
    }
}

/**
vue页面加载后显示，并加上动画显示
 */
.initHidden {
    display: none !important;
}

.initHiddenShow {
    position: relative;
    animation: initAnimationWin 300ms 0s 1;
    -webkit-animation: initAnimationWin 300ms 0s 1;
    -moz-animation: initAnimationWin 300ms 0s 1;
    -o-animation: initAnimationWin 300ms 0s 1;
}

@keyframes initAnimationWin {
    0% {
        opacity: 0;
        padding: 10px;
    }
    100% {
        opacity: 1;
        padding: 0;
    }
}

@keyframes initAnimation {
    0% {
        opacity: 0;
        top: 10px;
    }
    50% {
        opacity: 0.4;
        top: 3px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes rotatingOverlay {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.loading {
    animation: rotatingOverlay 1000ms linear infinite
}

.bodyOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f0f0f0;
    z-index: 999999;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1;
    
    span {
        color: #aaa;
        margin: 0 auto;
        font-size: 64px;
        animation: rotatingOverlay 3000ms linear infinite
    }
}

form.headForm {
    table {
        margin-top: 0;
        margin-bottom: 0;
        background: #f8fafd;
    }
}

/**
弹出层的自定义式样
 */
.layui-layer-red {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=80);
    background-color: rgba(139, 6, 17, 0.8) !important;
    color: #fff;
    border: none;
    
    .layui-layer-btn .layui-layer-btn0 {
        background-color: #111111;
        border-color: #111111;
        color: #fff;
    }
}

.layui-layer-green {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=85);
    background-color: rgba(3, 118, 36, 0.7) !important;
    color: #fff;
    border: none;
    
    .layui-layer-btn .layui-layer-btn0 {
        background-color: #056309;
        border-color: #05a111;
        color: #fff;
    }
    
    .layui-layer-content {
        padding: 12px 25px;
        text-align: center;
        background: #0b850b;
        color: #fff;
    }
    
}

.unit {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    //line-height: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #fafafa !important;
    color: #888888;
    margin-right: 0;
    margin-left: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
    cursor: default;
    
    &:hover {
        background-color: #53aaa9 !important;
        color: #fafafa;
    }
}

/**
后台页面顶部搜索表单
 */
.fixedForm {
    .searchForm {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: #efefef;
        border-bottom: 1px solid #aaa;
        padding: 8px 5px;
        display: flex;
        align-items: center;
        
        .el-form-item {
            margin-bottom: 0;
            margin-right: 0;
            padding: 0 1px;
        }
        
        .el-form-item__content {
            //padding-top: 2px;
        }
        
        .el-input__inner {
            //input单元格改高
            height: 34px !important;
            //margin-bottom: 2px;
        }
    }
    
    .dbTable {
        margin-top: 55px;
        margin-bottom: 150px;
    }
    
    .pageLinkForm {
        position: fixed;
        padding: 3px 10px 10px 10px;
        background: #efefef;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
