.db-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  height: 300px;
  background: #fff;
  box-shadow: 0 0 35px #d2d2d2;
  padding: 2em;
}
.dbMenu {
  overflow-y: auto;
}
.dbMenu ul dl {
  margin-block-start: 0;
  margin-block-end: 0;
}
.dbMenu ul li,
.dbMenu ul dt {
  height: 36px;
  line-height: 36px;
}
.dbMenu ul li em,
.dbMenu ul dt em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head {
  color: #eee;
  cursor: pointer;
  display: flex;
}
.dbMenu ul .dm-head.active {
  background: #ffffff;
  color: #333333;
}
.dbMenu ul .dm-head.active a {
  background: #ffffff;
  color: #333333;
  padding-left: 30px;
}
.dbMenu ul .dm-head:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-head a {
  color: #eee;
  flex: 1;
  padding-left: 30px;
}
.dbMenu ul .dm-head a em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head a:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-head em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head span {
  flex: 1;
}
.dbMenu ul .dm-group-title {
  color: #eee;
  background: #474B5F;
  padding-left: 15px;
}
.dbMenu ul .dm-group-title:hover {
  background: #52576e;
}
.dbMenu ul .dm-group-body {
  height: fit-content;
}
.dbMenu ul .dm-group-body dl dt {
  color: #eee;
  cursor: pointer;
  display: flex;
}
.dbMenu ul .dm-group-body dl dt.active {
  background: #ffffff;
  color: #333333;
}
.dbMenu ul .dm-group-body dl dt.active a {
  background: #ffffff;
  color: #333333;
  padding-left: 30px;
}
.dbMenu ul .dm-group-body dl dt:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-group-body dl dt a {
  color: #eee;
  flex: 1;
  padding-left: 30px;
}
.dbMenu ul .dm-group-body dl dt a em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-group-body dl dt a:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-group-body dl dt em {
  margin-right: 5px;
  font-size: 16px;
}
.dbForm {
  width: 100%;
  padding: 5px;
  background: #f3f3f3;
}
.dbArea {
  flex: 1;
  display: flex;
  height: 38px;
}
.dbArea select {
  flex: 1;
  border: 1px solid #D2D2D2;
}
/**
vue页面加载后显示，并加上动画显示
 */
.initHidden {
  display: none !important;
}
.initHiddenShow {
  position: relative;
  animation: initAnimation 300ms 0s 1;
  -webkit-animation: initAnimation 300ms 0s 1;
  -moz-animation: initAnimation 300ms 0s 1;
  -o-animation: initAnimation 300ms 0s 1;
}
@keyframes initAnimation {
  0% {
    opacity: 0;
    top: 10px;
  }
  50% {
    opacity: 0.4;
    top: 3px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes rotatingOverlay {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.bodyOverlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f0f0f0;
  z-index: 999999;
  text-align: center;
  display: flex;
  align-items: center;
  flex: 1;
}
.bodyOverlay span {
  color: #aaa;
  margin: 0 auto;
  font-size: 64px;
  animation: rotatingOverlay 3000ms linear infinite;
}
form.headForm table {
  margin-top: 0;
  margin-bottom: 0;
  background: #f8fafd;
}
/**
弹出层的自定义式样
 */
.layui-layer-red {
  min-width: 100px;
  background-color: #000;
  filter: alpha(opacity=80);
  background-color: rgba(139, 6, 17, 0.8) !important;
  color: #fff;
  border: none;
}
.layui-layer-red .layui-layer-btn .layui-layer-btn0 {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}
.layui-layer-green {
  min-width: 100px;
  background-color: #000;
  filter: alpha(opacity=85);
  background-color: rgba(3, 118, 36, 0.7) !important;
  color: #fff;
  border: none;
}
.layui-layer-green .layui-layer-btn .layui-layer-btn0 {
  background-color: #056309;
  border-color: #05a111;
  color: #fff;
}
.layui-layer-green .layui-layer-content {
  padding: 12px 25px;
  text-align: center;
  background: #0b850b;
  color: #fff;
}
.unit {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  height: calc(100% - 2px);
  background: #fafafa !important;
  color: #888888;
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px !important;
  padding-right: 10px !important;
  cursor: default;
}
.unit:hover {
  background-color: #53aaa9 !important;
  color: #fafafa;
}
/**
后台页面顶部搜索表单
 */
.fixedForm .searchForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #efefef;
  border-bottom: 1px solid #aaa;
  padding: 8px 5px;
  display: flex;
  align-items: center;
}
.fixedForm .searchForm .el-form-item {
  margin-bottom: 0;
  margin-right: 0;
  padding: 0 1px;
}
.fixedForm .searchForm .el-input__inner {
  height: 34px !important;
}
.fixedForm .dbTable {
  margin-top: 55px;
  margin-bottom: 150px;
}
.fixedForm .pageLinkForm {
  position: fixed;
  padding: 3px 10px 10px 10px;
  background: #efefef;
  bottom: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=patch.css.map */