.db-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  height: 300px;
  background: #fff;
  box-shadow: 0 0 35px #d2d2d2;
  padding: 2em;
}
.dbMenu {
  overflow-y: auto;
}
.dbMenu ul li,
.dbMenu ul dt {
  height: 36px;
  line-height: 36px;
}
.dbMenu ul li em,
.dbMenu ul dt em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head {
  color: #eee;
  cursor: pointer;
  display: flex;
}
.dbMenu ul .dm-head.active {
  background: #ffffff;
  color: #333333;
}
.dbMenu ul .dm-head.active a {
  background: #ffffff;
  color: #333333;
  padding-left: 30px;
}
.dbMenu ul .dm-head:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-head a {
  color: #eee;
  flex: 1;
  padding-left: 30px;
}
.dbMenu ul .dm-head a em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head a:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-head em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-head span {
  flex: 1;
}
.dbMenu ul .dm-group-title {
  color: #eee;
  background: #474B5F;
  padding-left: 15px;
}
.dbMenu ul .dm-group-title:hover {
  background: #52576e;
}
.dbMenu ul .dm-group-body {
  height: fit-content;
}
.dbMenu ul .dm-group-body dl dt {
  color: #eee;
  cursor: pointer;
  display: flex;
}
.dbMenu ul .dm-group-body dl dt.active {
  background: #ffffff;
  color: #333333;
}
.dbMenu ul .dm-group-body dl dt.active a {
  background: #ffffff;
  color: #333333;
  padding-left: 30px;
}
.dbMenu ul .dm-group-body dl dt:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-group-body dl dt a {
  color: #eee;
  flex: 1;
  padding-left: 30px;
}
.dbMenu ul .dm-group-body dl dt a em {
  margin-right: 5px;
  font-size: 16px;
}
.dbMenu ul .dm-group-body dl dt a:hover {
  color: #ed7a1e;
}
.dbMenu ul .dm-group-body dl dt em {
  margin-right: 5px;
  font-size: 16px;
}
.dbForm {
  width: 100%;
  padding: 5px;
  background: #f3f3f3;
}
.dbArea {
  flex: 1;
  display: flex;
  height: 38px;
}
.dbArea select {
  flex: 1;
  border: 1px solid #D2D2D2;
}
/**

这是对layui.css和element的css补充覆盖
TODO 在此文件中的所有新增定义，必须加详细的原因说明

 */
form.headForm table {
  margin-top: 0;
  margin-bottom: 0;
  background: #f8fafd;
}
.el-table .cell {
  white-space: nowrap;
}
.el-table thead {
  background: #ccd1e4;
  color: #fff;
}
.el-table thead tr,
.el-table thead th {
  background: inherit;
}
.el-table tr td {
  padding: 5px 0;
}
.el-input__inner {
  height: 38px !important;
}
.input_color_picker > div {
  border: none;
}
.el-date-editor .el-range-input {
  width: fit-content;
}
.el-color-picker--mini {
  margin-top: 5px;
}
.el-drawer__header {
  padding: 10px;
  margin-bottom: 5px;
  background: #ff7a17;
}
.el-drawer__header span {
  font-size: 16px;
  color: #fff;
}
.el-drawer__header .el-drawer__close-btn {
  color: #fff;
}
.el-drawer__header .el-drawer__close-btn:hover {
  color: #999999;
}
.el-button--text:focus,
.el-button--text:hover {
  color: #ff7a17;
}
.el-drawer__body {
  display: flex;
  flex-direction: column;
}
.el-drawer__body .iframe {
  flex: 1;
  margin: 0;
  padding: 0;
}
.el-drawer__body div {
  flex: 1;
  display: flex;
}
.el-drawer__body div iframe {
  flex: 1;
  margin: 0;
  padding: 0;
}
.el-drawer__body iframe {
  flex: 1;
  margin: 0;
  padding: 0;
}
.el-textarea {
  padding-bottom: 25px;
}
.el-textarea .el-textarea__inner {
  font-size: 16px;
  line-height: 1.9em;
}
.el-textarea .el-input__count {
  background: none;
}
.el-input--suffix .el-input__suffix {
  right: 3px;
}
.el-form-item {
  margin-bottom: 5px;
}
.el-form-item__content {
  line-height: 2em;
}
.el-dialog__wrapper {
  flex: 1;
  display: flex;
}
.el-dialog__wrapper .el-dialog__body {
  display: flex;
  padding: 0;
  overflow: hidden;
}
.el-dialog__wrapper .el-dialog__body iframe {
  flex: 1;
}
/**
弹出层的自定义式样
 */
.layui-layer-red {
  min-width: 100px;
  background-color: #000;
  filter: alpha(opacity=80);
  background-color: rgba(139, 6, 17, 0.8) !important;
  color: #fff;
  border: none;
}
.layui-layer-red .layui-layer-btn .layui-layer-btn0 {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}
.layui-layer-green {
  min-width: 100px;
  background-color: #000;
  filter: alpha(opacity=85);
  background-color: rgba(3, 118, 36, 0.7) !important;
  color: #fff;
  border: none;
}
.layui-layer-green .layui-layer-btn .layui-layer-btn0 {
  background-color: #056309;
  border-color: #05a111;
  color: #fff;
}
.layui-layer-green .layui-layer-content {
  padding: 12px 25px;
  text-align: center;
  background: #0b850b;
  color: #fff;
}
.unit {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  height: calc(100% - 2px);
  background: #fafafa !important;
  color: #888888;
  margin-right: 0;
  margin-left: 0;
  padding-left: 10px !important;
  padding-right: 10px !important;
  cursor: default;
}
.unit:hover {
  background-color: #53aaa9 !important;
  color: #fafafa;
}
/**
后台页面顶部搜索表单
 */
.searchForm {
  background: #efefef;
  border-bottom: 1px solid #aaa;
  padding: 8px 5px;
  display: flex;
  align-items: center;
}
.searchForm .el-form-item {
  margin-bottom: 0;
  margin-right: 0;
  padding: 0 1px;
}
.searchForm .el-input__inner {
  height: 34px !important;
}
/*# sourceMappingURL=patch.css.map */