*.db
/.idea/
/python/.idea/
/vendor/
/runtime/
/cache/
/backup/
/public/voucher/
/esp
/IDE_Help
/.sh
/words
/common/config/setup.ini
/common/config/route.ini
/common/config/story.json
/common/config/app/story.json
/common/config/debug/story.json
/common/config/hsy/story.json
/common/config/whdb/story.json
/common/config/route.json
/common/config/beian.json
/common/config/debug/setting.json
/common/config/hsy/setting.json
/common/config/whdb/setting.json
/common/nginx/bind/*
/common/nginx/recode/*
/common/nginx/log/*
/common/firewall
/public/resource
/resource
/plugs
/node_modules